@import "css_reset";

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.mainPage {
  opacity: 2;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;

  &-header {
    font-size: 2.5em;
    padding: 1em;
    text-align: center;
  }

  &-photos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 200px);
    grid-gap: 1em;

    &-item {
      background-color: red;
      width: 100%;
      transition: transform .3s ease;
      background-position: center;
      background-size: cover;
      position: relative;
      overflow: hidden;

      &-img {
        width: 100%;
      }

      &-author {
        background-color: rgba(255, 255, 255, .9);
        text-decoration: none;
        color: royalblue;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .3s ease;
        transform: translate(-50%, -50%) scale3d(0,0,0);
        height: 102%;
        width: 102%;
      }
      
      &:hover &-author{
        transform: translate(-50%, -50%) scale3d(1,1,1);
      }  

      &:nth-child(2),
      &:nth-child(n+5) {
        background-color: orange;
        grid-column: span 3;
        grid-row: span 2;
      }
      
      &:nth-child(1),
      &:nth-child(2n+5) {
        background-color: yellow;
        grid-column: span 3;
        grid-row: auto;
      }

      &:nth-child(3),
      &:nth-child(3n+5) {
        background-color: royalblue;
        grid-column: span 3;
        grid-row: span 3;
      }

      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(4n+5) {
        background-color: lime;
        grid-column: span 3;
        grid-row: auto;
      }

      &:nth-child(5) {
        background-color: black;
      }
    }

    @media screen and (max-width: 559px){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(10, 200px);

      &-item {
        &:nth-child(n){
          grid-column: auto;
          grid-row: auto;
        }

        &-author {
          top: 100%;
          left: 0;
          height: auto;
          padding: .25em;
          transform: translateY(-100%);
          transition: padding .3s ease;
        }

        &:hover &-author{
          padding: 1em .25em;
          transform: translateY(-100%);
        }
      }
    } 
  }
}

